<style>
  body{
    overflow-y: hidden;
  }
.maincontainer{
    display: flex;
    justify-content: center;
    /* background:#079992; */
    background-image: url('/images/greenbg2.jpg') ;
    background-size:cover;
    
   
    height: 100vh;
}
.root{
    width: 1300px;
    height: auto;
    background: #f1f2f6;
    padding: 18px;
    justify-content: center;
}
.heading{
    color: #078888;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Tiro Telugu', serif;
    display: flex;
    justify-content: center;
    padding: 6px;
}
</style>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Tiro+Telugu&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script type="text/javascript" src="js/materialize.min.js"></script>
         
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>

     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
      <script>$(document).ready(function(){
        $('select').formSelect();
      });</script>

      <script>$(document).ready(function(){
        $('.timepicker').timepicker();
      });</script>

      <script src="/javascripts/project.js"></script>

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>

    <body>
      <form action="/flight/addnewrecord" method="post" enctype="multipart/form-data">
        <div class="maincontainer">
           <div class="root">
            <div class="heading">
               <span><img src="/images/airindia.png" width="55" alt="airindia" srcset=""></span> Flight Enquiry System
            </div>
            <hr><br><br>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <i class="material-icons prefix">flight</i>
                        <input id="icon_fid" name="flightid" type="text" class="validate">
                        <label for="icon_fid">flight ID</label>
                    </div>
                </div>
                    <div class="col s6">
                    <div class="input-field">
                        <i class="material-icons prefix">business</i>
                        <input id="icon_companyname" name="companyname" type="text" class="validate">
                        <label for="icon_companyname">Company Name</label>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col s3">
                      <div class="input-field">
                        <i class="material-icons prefix">flight_takeoff</i>
                        <select name="sourcestate" id="sourcestate">
                       <option value="" disabled selected>Choose State</option>
                       </select>
                       <label>Source State</label>
                    </div>
                </div>
                    <div class="col s3">
                    <div class="input-field">
                        <i class="material-icons prefix">flight_takeoff</i>
                        <select name="sourcecity" id="sourcecity">
                          <option value="" disabled selected>Choose City</option>
                          </select>
                          <label>Source City</label>
                    </div>
                    </div>
                <div class="col s3">
                    <div class="input-field">
                        <i class="material-icons prefix">flight_land</i>
                        <select name="desstate" id="desstate">
                          <option value="" disabled selected>Choose State</option>
                          </select>
                          <label>Destination State</label>
                    </div>
                </div>
                    <div class="col s3">
                    <div class="input-field">
                        <i class="material-icons prefix">flight_land</i>
                        <select name="descity" id="descity">
                          <option value="" disabled selected>Choose City</option>
                          </select>
                          <label>Destination City</label>
                    </div>
                    </div>
            </div>
           
            <div class="row">
                <div class="col s3">
                  <div class="input-field">
                    <i class="material-icons prefix">wrap_text</i>
                   <select name="status" id="status">
                  <option value="" disabled selected>Choose your option</option>
                  <option>Non-Stop</option>
                  <option>With Stop</option>
                  </select>
                  <label>Status</label>
                  </div>
                </div>

                <div class="col s3" style="display: flex;flex-direction: row;justify-content:space-around ;align-items: center;">
                    <span>
                        <label>
                          <input name="fclass" value="Buisness" type="checkbox" />
                          <span>Buisness</span>
                        </label>
                    </span>
                      <span>
                        <label>
                          <input name="fclass" value="Economy" type="checkbox" />
                          <span>Economy</span>
                        </label>
                    </span>
                      <span>
                        <label>
                          <input name="fclass" value="Executive" type="checkbox" />
                          <span>Executive</span>
                        </label>
                    </span>
                </div>

                <div class="col s3">
                    <div class="input-field">
                        <i class="material-icons prefix">access_time</i>
                        <input id="icon_sourcetime" name="sourcetime" type="text" class="timepicker">
                        <label for="icon_sourcetime">Source timing</label>
                    </div>
                </div>
                <div class="col s3">
                    <div class="input-field">
                        <i class="material-icons prefix">access_time</i>
                        <input id="icon_destime" name="destime" type="text" class="timepicker">
                        <label for="icon_destime">Destination timing</label>
                    </div>
                </div>
            </div>

            <div class="row">
            <div class="col s12" style="display: flex;flex-direction: row;justify-content:space-around ;align-items: center;">
                <span>
                    <label>
                      <input name="fdays" value="Sunday" type="checkbox" />
                      <span>Sunday</span>
                    </label>
                </span>
                  <span>
                    <label>
                      <input name="fdays"value="Monday" type="checkbox" />
                      <span>Monday</span>
                    </label>
                </span>
                  <span>
                    <label>
                      <input name="fdays" value="Tuesday" type="checkbox" />
                      <span>Tuesday</span>
                    </label>
                </span>
                  <span>
                    <label>
                      <input name="fdays" value="Wednesday" type="checkbox" />
                      <span>Wednesday</span>
                    </label>
                </span>
                  <span>
                    <label>
                      <input name="fdays" value="Thursday" type="checkbox" />
                      <span>Thursday</span>
                    </label>
                </span>
                  <span>
                    <label>
                      <input name="fdays" value="Friday" type="checkbox" />
                      <span>friday</span>
                    </label>
                </span>
                  <span>
                    <label>
                      <input name="fdays" value="Saturday" type="checkbox" />
                      <span>Saturday</span>
                    </label>
                </span>
                
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name="logo">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
            </div>
        </div><br>

        <div class="row">
          <div class="col s4" style='display:flex; justify-content:center;'>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="col s4" style='display:flex; justify-content:center; font-size: 24;font-weight: bold;'>
            <%=msg %>
          </div>
          <div class="col s4" style='display:flex; justify-content:center;'>
            <button class="btn waves-effect waves-light" type="reset" name="action">Reset
              <i class="material-icons right">remove</i>
            </button>
          </div>
        </div>



           </div> 
        </div>
      </form>
        
    </body>
    <!-- Compiled and minified CSS
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            


     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script type="text/javascript" src="js/materialize.min.js"></script>
    
</html>